allegro-soap.xml

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://webapi.allegro.pl/service.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="service" targetNamespace="https://webapi.allegro.pl/service.php">
  <types>
    <xsd:schema targetNamespace="https://webapi.allegro.pl/service.php" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xsd:element name="DoGetBidItem2Request">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandle" type="xsd:string"/>
            <xsd:element name="itemId" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BidListStruct2">
        <xsd:all>
          <xsd:element name="bidsArray" type="tns:ArrayOfString" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfBidliststruct2">
        <xsd:sequence>
          <xsd:element name="item" type="tns:BidListStruct2" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetBidItem2Response">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="biditemList" type="tns:ArrayOfBidliststruct2" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetCountriesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CountryInfoType">
        <xsd:all>
          <xsd:element name="countryId" type="xsd:int"/>
          <xsd:element name="countryName" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCountryinfotype">
        <xsd:sequence>
          <xsd:element name="item" type="tns:CountryInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetCountriesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryArray" type="tns:ArrayOfCountryinfotype" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfLong">
        <xsd:sequence>
          <xsd:element name="item" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DoGetItemsInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandle" type="xsd:string"/>
            <xsd:element name="itemsIdArray" type="tns:ArrayOfLong" minOccurs="0"/>
            <xsd:element name="getDesc" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getImageUrl" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAttribs" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getPostageOptions" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getCompanyInfo" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getProductInfo" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAfterSalesServiceConditions" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getEan" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAdditionalServicesGroup" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DurationInfoStruct">
        <xsd:all>
          <xsd:element name="durationType" type="xsd:int" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ItemInfo">
        <xsd:all>
          <xsd:element name="itId" type="xsd:long"/>
          <xsd:element name="itCountry" type="xsd:int"/>
          <xsd:element name="itName" type="xsd:string"/>
          <xsd:element name="itPrice" type="xsd:float"/>
          <xsd:element name="itBidCount" type="xsd:int"/>
          <xsd:element name="itEndingTime" type="xsd:long"/>
          <xsd:element name="itSellerId" type="xsd:long"/>
          <xsd:element name="itSellerLogin" type="xsd:string"/>
          <xsd:element name="itSellerRating" type="xsd:int"/>
          <xsd:element name="itStartingTime" type="xsd:long"/>
          <xsd:element name="itStartingPrice" type="xsd:float"/>
          <xsd:element name="itQuantity" type="xsd:int"/>
          <xsd:element name="itFotoCount" type="xsd:int"/>
          <xsd:element name="itReservePrice" type="xsd:float"/>
          <xsd:element name="itLocation" type="xsd:string"/>
          <xsd:element name="itBuyNowPrice" type="xsd:float"/>
          <xsd:element name="itBuyNowActive" type="xsd:int"/>
          <xsd:element name="itAdvertisementPrice" type="xsd:float" minOccurs="0"/>
          <xsd:element name="itAdvertisementActive" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itHighBidder" type="xsd:int"/>
          <xsd:element name="itHighBidderLogin" type="xsd:string"/>
          <xsd:element name="itDescription" type="xsd:string"/>
          <xsd:element name="itStandardizedDescription" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itOptions" type="xsd:int"/>
          <xsd:element name="itState" type="xsd:int"/>
          <xsd:element name="itIsEco" type="xsd:int"/>
          <xsd:element name="itHitCount" type="xsd:long"/>
          <xsd:element name="itPostcode" type="xsd:string"/>
          <xsd:element name="itVatInvoice" type="xsd:int"/>
          <xsd:element name="itVatMarginInvoice" type="xsd:int"/>
          <xsd:element name="itWithoutVatInvoice" type="xsd:int"/>
          <xsd:element name="itBankAccount1" type="xsd:string"/>
          <xsd:element name="itBankAccount2" type="xsd:string"/>
          <xsd:element name="itStartingQuantity" type="xsd:int"/>
          <xsd:element name="itIsForGuests" type="xsd:int"/>
          <xsd:element name="itHasProduct" type="xsd:int"/>
          <xsd:element name="itOrderFulfillmentTime" type="xsd:int"/>
          <xsd:element name="itEndingInfo" type="xsd:int"/>
          <xsd:element name="itIsAllegroStandard" type="xsd:int"/>
          <xsd:element name="itIsNewUsed" type="xsd:int"/>
          <xsd:element name="itIsBrandZone" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itDurationInfo" type="tns:DurationInfoStruct" minOccurs="0"/>
          <xsd:element name="itIsFulfillmentTimeActive" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itEan" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itContact" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ItemCatList">
        <xsd:all>
          <xsd:element name="catLevel" type="xsd:int"/>
          <xsd:element name="catId" type="xsd:long"/>
          <xsd:element name="catName" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfItemcatlist">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ItemCatList" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemImageList">
        <xsd:all>
          <xsd:element name="imageType" type="xsd:int"/>
          <xsd:element name="imageUrl" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfItemimagelist">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ItemImageList" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AttribStruct">
        <xsd:all>
          <xsd:element name="attribName" type="xsd:string"/>
          <xsd:element name="attribValues" type="tns:ArrayOfString" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAttribstruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:AttribStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FulfillmentTimeStruct">
        <xsd:all>
          <xsd:element name="fulfillmentTimeFrom" type="xsd:int"/>
          <xsd:element name="fulfillmentTimeTo" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PostageStruct">
        <xsd:all>
          <xsd:element name="postageAmount" type="xsd:float"/>
          <xsd:element name="postageAmountAdd" type="xsd:float"/>
          <xsd:element name="postagePackSize" type="xsd:int"/>
          <xsd:element name="postageId" type="xsd:int"/>
          <xsd:element name="postageFreeShipping" type="xsd:int"/>
          <xsd:element name="postageFreeReturn" type="xsd:int" minOccurs="0"/>
          <xsd:element name="postageFulfillmentTime" type="tns:FulfillmentTimeStruct"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPostagestruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:PostageStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemPaymentOptions">
        <xsd:all>
          <xsd:element name="payOptionTransfer" type="xsd:int"/>
          <xsd:element name="payOptionOnDelivery" type="xsd:int"/>
          <xsd:element name="payOptionAllegroPay" type="xsd:int"/>
          <xsd:element name="payOptionSeeDesc" type="xsd:int"/>
          <xsd:element name="payOptionPayu" type="xsd:int"/>
          <xsd:element name="payOptionEscrow" type="xsd:int"/>
          <xsd:element name="payOptionQiwi" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CompanyInfoStruct">
        <xsd:all>
          <xsd:element name="companyFirstName" type="xsd:string"/>
          <xsd:element name="companyLastName" type="xsd:string"/>
          <xsd:element name="companyName" type="xsd:string"/>
          <xsd:element name="companyAddress" type="xsd:string"/>
          <xsd:element name="companyPostcode" type="xsd:string"/>
          <xsd:element name="companyCity" type="xsd:string"/>
          <xsd:element name="companyNip" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ProductParametersStruct">
        <xsd:all>
          <xsd:element name="productParameterName" type="xsd:string"/>
          <xsd:element name="productParameterValues" type="tns:ArrayOfString" minOccurs="0"/>
          <xsd:element name="productParameterDescription" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfProductparametersstruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ProductParametersStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductParametersGroupStruct">
        <xsd:all>
          <xsd:element name="productParametersGroupName" type="xsd:string"/>
          <xsd:element name="productParametersList" type="tns:ArrayOfProductparametersstruct" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfProductparametersgroupstruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ProductParametersGroupStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductStruct">
        <xsd:all>
          <xsd:element name="productId" type="xsd:long"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="productDescription" type="xsd:string"/>
          <xsd:element name="productImagesList" type="tns:ArrayOfString" minOccurs="0"/>
          <xsd:element name="productParametersGroupList" type="tns:ArrayOfProductparametersgroupstruct" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AfterSalesServiceConditionsStruct">
        <xsd:all>
          <xsd:element name="impliedWarranty" type="xsd:string"/>
          <xsd:element name="returnPolicy" type="xsd:string"/>
          <xsd:element name="warranty" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ItemInfoStruct">
        <xsd:all>
          <xsd:element name="itemInfo" type="tns:ItemInfo"/>
          <xsd:element name="itemCats" type="tns:ArrayOfItemcatlist" minOccurs="0"/>
          <xsd:element name="itemImages" type="tns:ArrayOfItemimagelist" minOccurs="0"/>
          <xsd:element name="itemAttribs" type="tns:ArrayOfAttribstruct" minOccurs="0"/>
          <xsd:element name="itemPostageOptions" type="tns:ArrayOfPostagestruct" minOccurs="0"/>
          <xsd:element name="itemPaymentOptions" type="tns:ItemPaymentOptions"/>
          <xsd:element name="itemCompanyInfo" type="tns:CompanyInfoStruct"/>
          <xsd:element name="itemProductInfo" type="tns:ProductStruct"/>
          <xsd:element name="itemAfterSalesServiceConditions" type="tns:AfterSalesServiceConditionsStruct" minOccurs="0"/>
          <xsd:element name="itemAdditionalServicesGroup" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfIteminfostruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:ItemInfoStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetItemsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="arrayItemListInfo" type="tns:ArrayOfIteminfostruct" minOccurs="0"/>
            <xsd:element name="arrayItemsNotFound" type="tns:ArrayOfLong" minOccurs="0"/>
            <xsd:element name="arrayItemsAdminKilled" type="tns:ArrayOfLong" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetMyPaymentsInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PaymentsUserDataStruct">
        <xsd:all>
          <xsd:element name="userFullName" type="xsd:string"/>
          <xsd:element name="userAddress" type="xsd:string"/>
          <xsd:element name="userPostcode" type="xsd:string"/>
          <xsd:element name="userCity" type="xsd:string"/>
          <xsd:element name="userCountry" type="xsd:int"/>
          <xsd:element name="userPhone" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PayoutAutoFrequencyStruct">
        <xsd:all>
          <xsd:element name="frequencyType" type="xsd:short"/>
          <xsd:element name="frequencyWeekValue" type="xsd:short"/>
          <xsd:element name="frequencyMonthValue" type="xsd:short"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PayoutAutoSettingsStruct">
        <xsd:all>
          <xsd:element name="payoutAutoAmount" type="xsd:float"/>
          <xsd:element name="payoutAutoFrequency" type="tns:PayoutAutoFrequencyStruct"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PaymentsPayoutStruct">
        <xsd:all>
          <xsd:element name="payoutType" type="xsd:int"/>
          <xsd:element name="payoutAutoSettings" type="tns:PayoutAutoSettingsStruct"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PaymentsInfoStruct">
        <xsd:all>
          <xsd:element name="paymentsBalance" type="xsd:float"/>
          <xsd:element name="paymentsBankAccount" type="xsd:string"/>
          <xsd:element name="paymentsUserData" type="tns:PaymentsUserDataStruct"/>
          <xsd:element name="paymentsPayout" type="tns:PaymentsPayoutStruct"/>
          <xsd:element name="paymentsNotifications" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doGetMyPaymentsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="paymentsInfo" type="tns:PaymentsInfoStruct"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetSiteJournalRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandle" type="xsd:string"/>
            <xsd:element name="startingPoint" type="xsd:long" minOccurs="0"/>
            <xsd:element name="infoType" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SiteJournal">
        <xsd:all>
          <xsd:element name="rowId" type="xsd:long"/>
          <xsd:element name="itemId" type="xsd:long"/>
          <xsd:element name="changeType" type="xsd:string"/>
          <xsd:element name="changeDate" type="xsd:long"/>
          <xsd:element name="currentPrice" type="xsd:float"/>
          <xsd:element name="itemSellerId" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSitejournal">
        <xsd:sequence>
          <xsd:element name="item" type="tns:SiteJournal" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetSiteJournalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="siteJournalArray" type="tns:ArrayOfSitejournal" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetSiteJournalInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandle" type="xsd:string"/>
            <xsd:element name="startingPoint" type="xsd:long" minOccurs="0"/>
            <xsd:element name="infoType" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SiteJournalInfo">
        <xsd:all>
          <xsd:element name="itemsNumber" type="xsd:int"/>
          <xsd:element name="lastItemDate" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doGetSiteJournalInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="siteJournalInfo" type="tns:SiteJournalInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetStatesInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="StateInfoStruct">
        <xsd:all>
          <xsd:element name="stateId" type="xsd:int"/>
          <xsd:element name="stateName" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfStateinfostruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:StateInfoStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetStatesInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="statesInfoArray" type="tns:ArrayOfStateinfostruct" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetSystemTimeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doGetSystemTimeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userLogin" type="xsd:string"/>
            <xsd:element name="userPassword" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
            <xsd:element name="localVersion" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginEncRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userLogin" type="xsd:string"/>
            <xsd:element name="userHashPassword" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
            <xsd:element name="localVersion" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginEncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginWithAccessTokenRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accessToken" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginWithAccessTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoQueryAllSysStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SysStatusType">
        <xsd:all>
          <xsd:element name="countryId" type="xsd:int"/>
          <xsd:element name="programVersion" type="xsd:string"/>
          <xsd:element name="catsVersion" type="xsd:string"/>
          <xsd:element name="apiVersion" type="xsd:string"/>
          <xsd:element name="attribVersion" type="xsd:string"/>
          <xsd:element name="formSellVersion" type="xsd:string"/>
          <xsd:element name="siteVersion" type="xsd:string"/>
          <xsd:element name="verKey" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSysstatustype">
        <xsd:sequence>
          <xsd:element name="item" type="tns:SysStatusType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doQueryAllSysStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sysCountryStatus" type="tns:ArrayOfSysstatustype" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoQuerySysStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sysvar" type="xsd:int"/>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doQuerySysStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="xsd:string"/>
            <xsd:element name="verKey" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoRequestPayoutRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RequestPayoutStruct">
        <xsd:all>
          <xsd:element name="payoutId" type="xsd:long"/>
          <xsd:element name="payoutAmount" type="xsd:float"/>
          <xsd:element name="payoutTime" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doRequestPayoutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestPayout" type="tns:RequestPayoutStruct"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoShowItemInfoExtRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandle" type="xsd:string"/>
            <xsd:element name="itemId" type="xsd:long"/>
            <xsd:element name="getDesc" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getImageUrl" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAttribs" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getPostageOptions" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getCompanyInfo" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getProductInfo" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAfterSalesServiceConditions" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getEan" type="xsd:int" minOccurs="0"/>
            <xsd:element name="getAdditionalServicesGroup" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ItemInfoExt">
        <xsd:all>
          <xsd:element name="itId" type="xsd:long"/>
          <xsd:element name="itCountry" type="xsd:int"/>
          <xsd:element name="itName" type="xsd:string"/>
          <xsd:element name="itPrice" type="xsd:float"/>
          <xsd:element name="itBidCount" type="xsd:int"/>
          <xsd:element name="itEndingTime" type="xsd:long"/>
          <xsd:element name="itSellerId" type="xsd:long"/>
          <xsd:element name="itSellerLogin" type="xsd:string"/>
          <xsd:element name="itSellerRating" type="xsd:int"/>
          <xsd:element name="itStartingTime" type="xsd:long"/>
          <xsd:element name="itStartingPrice" type="xsd:float"/>
          <xsd:element name="itQuantity" type="xsd:int"/>
          <xsd:element name="itFotoCount" type="xsd:int"/>
          <xsd:element name="itReservePrice" type="xsd:float"/>
          <xsd:element name="itLocation" type="xsd:string"/>
          <xsd:element name="itBuyNowPrice" type="xsd:float"/>
          <xsd:element name="itBuyNowActive" type="xsd:int"/>
          <xsd:element name="itAdvertisementPrice" type="xsd:float" minOccurs="0"/>
          <xsd:element name="itAdvertisementActive" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itHighBidder" type="xsd:int"/>
          <xsd:element name="itHighBidderLogin" type="xsd:string"/>
          <xsd:element name="itDescription" type="xsd:string"/>
          <xsd:element name="itStandardizedDescription" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itOptions" type="xsd:int"/>
          <xsd:element name="itState" type="xsd:int"/>
          <xsd:element name="itWireTransfer" type="xsd:float"/>
          <xsd:element name="itPostDelivery" type="xsd:float"/>
          <xsd:element name="itPostInfo" type="xsd:string"/>
          <xsd:element name="itQuantityType" type="xsd:int"/>
          <xsd:element name="itIsEco" type="xsd:int"/>
          <xsd:element name="itHitCount" type="xsd:long"/>
          <xsd:element name="itPostcode" type="xsd:string"/>
          <xsd:element name="itVatInvoice" type="xsd:int"/>
          <xsd:element name="itVatMarginInvoice" type="xsd:int"/>
          <xsd:element name="itWithoutVatInvoice" type="xsd:int"/>
          <xsd:element name="itBankAccount1" type="xsd:string"/>
          <xsd:element name="itBankAccount2" type="xsd:string"/>
          <xsd:element name="itStartingQuantity" type="xsd:int"/>
          <xsd:element name="itIsForGuests" type="xsd:int"/>
          <xsd:element name="itHasProduct" type="xsd:int"/>
          <xsd:element name="itOrderFulfillmentTime" type="xsd:int"/>
          <xsd:element name="itEndingInfo" type="xsd:int"/>
          <xsd:element name="itIsAllegroStandard" type="xsd:int"/>
          <xsd:element name="itIsNewUsed" type="xsd:int"/>
          <xsd:element name="itIsBrandZone" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itIsFulfillmentTimeActive" type="xsd:int" minOccurs="0"/>
          <xsd:element name="itEan" type="xsd:string" minOccurs="0"/>
          <xsd:element name="itContact" type="xsd:string" minOccurs="0"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doShowItemInfoExtResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="itemListInfoExt" type="tns:ItemInfoExt"/>
            <xsd:element name="itemCatPath" type="tns:ArrayOfItemcatlist" minOccurs="0"/>
            <xsd:element name="itemImgList" type="tns:ArrayOfItemimagelist" minOccurs="0"/>
            <xsd:element name="itemAttribList" type="tns:ArrayOfAttribstruct" minOccurs="0"/>
            <xsd:element name="itemPostageOptions" type="tns:ArrayOfPostagestruct" minOccurs="0"/>
            <xsd:element name="itemPaymentOptions" type="tns:ItemPaymentOptions"/>
            <xsd:element name="itemCompanyInfo" type="tns:CompanyInfoStruct"/>
            <xsd:element name="itemProductInfo" type="tns:ProductStruct"/>
            <xsd:element name="itemVariants" type="xsd:string" minOccurs="0"/>
            <xsd:element name="itemAfterSalesServiceConditions" type="tns:AfterSalesServiceConditionsStruct" minOccurs="0"/>
            <xsd:element name="itemAdditionalServicesGroup" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <portType name="servicePort">
    <operation name="doGetBidItem2">
      <input message="tns:doGetBidItem2In"/>
      <output message="tns:doGetBidItem2Out"/>
    </operation>
    <operation name="doGetCountries">
      <input message="tns:doGetCountriesIn"/>
      <output message="tns:doGetCountriesOut"/>
    </operation>
    <operation name="doGetItemsInfo">
      <input message="tns:doGetItemsInfoIn"/>
      <output message="tns:doGetItemsInfoOut"/>
    </operation>
    <operation name="doGetMyPaymentsInfo">
      <input message="tns:doGetMyPaymentsInfoIn"/>
      <output message="tns:doGetMyPaymentsInfoOut"/>
    </operation>
    <operation name="doGetSiteJournal">
      <input message="tns:doGetSiteJournalIn"/>
      <output message="tns:doGetSiteJournalOut"/>
    </operation>
    <operation name="doGetSiteJournalInfo">
      <input message="tns:doGetSiteJournalInfoIn"/>
      <output message="tns:doGetSiteJournalInfoOut"/>
    </operation>
    <operation name="doGetStatesInfo">
      <input message="tns:doGetStatesInfoIn"/>
      <output message="tns:doGetStatesInfoOut"/>
    </operation>
    <operation name="doGetSystemTime">
      <input message="tns:doGetSystemTimeIn"/>
      <output message="tns:doGetSystemTimeOut"/>
    </operation>
    <operation name="doLogin">
      <input message="tns:doLoginIn"/>
      <output message="tns:doLoginOut"/>
    </operation>
    <operation name="doLoginEnc">
      <input message="tns:doLoginEncIn"/>
      <output message="tns:doLoginEncOut"/>
    </operation>
    <operation name="doLoginWithAccessToken">
      <input message="tns:doLoginWithAccessTokenIn"/>
      <output message="tns:doLoginWithAccessTokenOut"/>
    </operation>
    <operation name="doQueryAllSysStatus">
      <input message="tns:doQueryAllSysStatusIn"/>
      <output message="tns:doQueryAllSysStatusOut"/>
    </operation>
    <operation name="doQuerySysStatus">
      <input message="tns:doQuerySysStatusIn"/>
      <output message="tns:doQuerySysStatusOut"/>
    </operation>
    <operation name="doRequestPayout">
      <input message="tns:doRequestPayoutIn"/>
      <output message="tns:doRequestPayoutOut"/>
    </operation>
    <operation name="doShowItemInfoExt">
      <input message="tns:doShowItemInfoExtIn"/>
      <output message="tns:doShowItemInfoExtOut"/>
    </operation>
  </portType>
  <binding name="serviceBinding" type="tns:servicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="doGetBidItem2">
      <soap:operation soapAction="#doGetBidItem2"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetCountries">
      <soap:operation soapAction="#doGetCountries"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetItemsInfo">
      <soap:operation soapAction="#doGetItemsInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetMyPaymentsInfo">
      <soap:operation soapAction="#doGetMyPaymentsInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetSiteJournal">
      <soap:operation soapAction="#doGetSiteJournal"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetSiteJournalInfo">
      <soap:operation soapAction="#doGetSiteJournalInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetStatesInfo">
      <soap:operation soapAction="#doGetStatesInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetSystemTime">
      <soap:operation soapAction="#doGetSystemTime"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLogin">
      <soap:operation soapAction="#doLogin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLoginEnc">
      <soap:operation soapAction="#doLoginEnc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLoginWithAccessToken">
      <soap:operation soapAction="#doLoginWithAccessToken"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doQueryAllSysStatus">
      <soap:operation soapAction="#doQueryAllSysStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doQuerySysStatus">
      <soap:operation soapAction="#doQuerySysStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doRequestPayout">
      <soap:operation soapAction="#doRequestPayout"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doShowItemInfoExt">
      <soap:operation soapAction="#doShowItemInfoExt"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="serviceService">
    <port name="servicePort" binding="tns:serviceBinding">
      <soap:address location="https://webapi.allegro.pl/service.php"/>
    </port>
  </service>
  <message name="doGetBidItem2In">
    <part name="parameters" element="tns:DoGetBidItem2Request"/>
  </message>
  <message name="doGetBidItem2Out">
    <part name="parameters" element="tns:doGetBidItem2Response"/>
  </message>
  <message name="doGetCountriesIn">
    <part name="parameters" element="tns:DoGetCountriesRequest"/>
  </message>
  <message name="doGetCountriesOut">
    <part name="parameters" element="tns:doGetCountriesResponse"/>
  </message>
  <message name="doGetItemsInfoIn">
    <part name="parameters" element="tns:DoGetItemsInfoRequest"/>
  </message>
  <message name="doGetItemsInfoOut">
    <part name="parameters" element="tns:doGetItemsInfoResponse"/>
  </message>
  <message name="doGetMyPaymentsInfoIn">
    <part name="parameters" element="tns:DoGetMyPaymentsInfoRequest"/>
  </message>
  <message name="doGetMyPaymentsInfoOut">
    <part name="parameters" element="tns:doGetMyPaymentsInfoResponse"/>
  </message>
  <message name="doGetSiteJournalIn">
    <part name="parameters" element="tns:DoGetSiteJournalRequest"/>
  </message>
  <message name="doGetSiteJournalOut">
    <part name="parameters" element="tns:doGetSiteJournalResponse"/>
  </message>
  <message name="doGetSiteJournalInfoIn">
    <part name="parameters" element="tns:DoGetSiteJournalInfoRequest"/>
  </message>
  <message name="doGetSiteJournalInfoOut">
    <part name="parameters" element="tns:doGetSiteJournalInfoResponse"/>
  </message>
  <message name="doGetStatesInfoIn">
    <part name="parameters" element="tns:DoGetStatesInfoRequest"/>
  </message>
  <message name="doGetStatesInfoOut">
    <part name="parameters" element="tns:doGetStatesInfoResponse"/>
  </message>
  <message name="doGetSystemTimeIn">
    <part name="parameters" element="tns:DoGetSystemTimeRequest"/>
  </message>
  <message name="doGetSystemTimeOut">
    <part name="parameters" element="tns:doGetSystemTimeResponse"/>
  </message>
  <message name="doLoginIn">
    <part name="parameters" element="tns:DoLoginRequest"/>
  </message>
  <message name="doLoginOut">
    <part name="parameters" element="tns:doLoginResponse"/>
  </message>
  <message name="doLoginEncIn">
    <part name="parameters" element="tns:DoLoginEncRequest"/>
  </message>
  <message name="doLoginEncOut">
    <part name="parameters" element="tns:doLoginEncResponse"/>
  </message>
  <message name="doLoginWithAccessTokenIn">
    <part name="parameters" element="tns:DoLoginWithAccessTokenRequest"/>
  </message>
  <message name="doLoginWithAccessTokenOut">
    <part name="parameters" element="tns:doLoginWithAccessTokenResponse"/>
  </message>
  <message name="doQueryAllSysStatusIn">
    <part name="parameters" element="tns:DoQueryAllSysStatusRequest"/>
  </message>
  <message name="doQueryAllSysStatusOut">
    <part name="parameters" element="tns:doQueryAllSysStatusResponse"/>
  </message>
  <message name="doQuerySysStatusIn">
    <part name="parameters" element="tns:DoQuerySysStatusRequest"/>
  </message>
  <message name="doQuerySysStatusOut">
    <part name="parameters" element="tns:doQuerySysStatusResponse"/>
  </message>
  <message name="doRequestPayoutIn">
    <part name="parameters" element="tns:DoRequestPayoutRequest"/>
  </message>
  <message name="doRequestPayoutOut">
    <part name="parameters" element="tns:doRequestPayoutResponse"/>
  </message>
  <message name="doShowItemInfoExtIn">
    <part name="parameters" element="tns:DoShowItemInfoExtRequest"/>
  </message>
  <message name="doShowItemInfoExtOut">
    <part name="parameters" element="tns:doShowItemInfoExtResponse"/>
  </message>
</definitions>
