allegro-soap.xml

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://webapi.allegro.pl/service.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="service" targetNamespace="https://webapi.allegro.pl/service.php">
  <types>
    <xsd:schema targetNamespace="https://webapi.allegro.pl/service.php" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xsd:element name="DoGetCountriesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="CountryInfoType">
        <xsd:all>
          <xsd:element name="countryId" type="xsd:int"/>
          <xsd:element name="countryName" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCountryinfotype">
        <xsd:sequence>
          <xsd:element name="item" type="tns:CountryInfoType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetCountriesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryArray" type="tns:ArrayOfCountryinfotype" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetMyPaymentsInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PaymentsUserDataStruct">
        <xsd:all>
          <xsd:element name="userFullName" type="xsd:string"/>
          <xsd:element name="userAddress" type="xsd:string"/>
          <xsd:element name="userPostcode" type="xsd:string"/>
          <xsd:element name="userCity" type="xsd:string"/>
          <xsd:element name="userCountry" type="xsd:int"/>
          <xsd:element name="userPhone" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PayoutAutoFrequencyStruct">
        <xsd:all>
          <xsd:element name="frequencyType" type="xsd:short"/>
          <xsd:element name="frequencyWeekValue" type="xsd:short"/>
          <xsd:element name="frequencyMonthValue" type="xsd:short"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PayoutAutoSettingsStruct">
        <xsd:all>
          <xsd:element name="payoutAutoAmount" type="xsd:float"/>
          <xsd:element name="payoutAutoFrequency" type="tns:PayoutAutoFrequencyStruct"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PaymentsPayoutStruct">
        <xsd:all>
          <xsd:element name="payoutType" type="xsd:int"/>
          <xsd:element name="payoutAutoSettings" type="tns:PayoutAutoSettingsStruct"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PaymentsInfoStruct">
        <xsd:all>
          <xsd:element name="paymentsBalance" type="xsd:float"/>
          <xsd:element name="paymentsBankAccount" type="xsd:string"/>
          <xsd:element name="paymentsUserData" type="tns:PaymentsUserDataStruct"/>
          <xsd:element name="paymentsPayout" type="tns:PaymentsPayoutStruct"/>
          <xsd:element name="paymentsNotifications" type="xsd:int"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doGetMyPaymentsInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="paymentsInfo" type="tns:PaymentsInfoStruct"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetStatesInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="StateInfoStruct">
        <xsd:all>
          <xsd:element name="stateId" type="xsd:int"/>
          <xsd:element name="stateName" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfStateinfostruct">
        <xsd:sequence>
          <xsd:element name="item" type="tns:StateInfoStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doGetStatesInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="statesInfoArray" type="tns:ArrayOfStateinfostruct" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoGetSystemTimeRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doGetSystemTimeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userLogin" type="xsd:string"/>
            <xsd:element name="userPassword" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
            <xsd:element name="localVersion" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginEncRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userLogin" type="xsd:string"/>
            <xsd:element name="userHashPassword" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
            <xsd:element name="localVersion" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginEncResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoLoginWithAccessTokenRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accessToken" type="xsd:string"/>
            <xsd:element name="countryCode" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doLoginWithAccessTokenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionHandlePart" type="xsd:string"/>
            <xsd:element name="userId" type="xsd:long"/>
            <xsd:element name="serverTime" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoQueryAllSysStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SysStatusType">
        <xsd:all>
          <xsd:element name="countryId" type="xsd:int"/>
          <xsd:element name="programVersion" type="xsd:string"/>
          <xsd:element name="catsVersion" type="xsd:string"/>
          <xsd:element name="apiVersion" type="xsd:string"/>
          <xsd:element name="attribVersion" type="xsd:string"/>
          <xsd:element name="formSellVersion" type="xsd:string"/>
          <xsd:element name="siteVersion" type="xsd:string"/>
          <xsd:element name="verKey" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSysstatustype">
        <xsd:sequence>
          <xsd:element name="item" type="tns:SysStatusType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="doQueryAllSysStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sysCountryStatus" type="tns:ArrayOfSysstatustype" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoQuerySysStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sysvar" type="xsd:int"/>
            <xsd:element name="countryId" type="xsd:int"/>
            <xsd:element name="webapiKey" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="doQuerySysStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="xsd:string"/>
            <xsd:element name="verKey" type="xsd:long"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoRequestPayoutRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RequestPayoutStruct">
        <xsd:all>
          <xsd:element name="payoutId" type="xsd:long"/>
          <xsd:element name="payoutAmount" type="xsd:float"/>
          <xsd:element name="payoutTime" type="xsd:long"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="doRequestPayoutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestPayout" type="tns:RequestPayoutStruct"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <portType name="servicePort">
    <operation name="doGetCountries">
      <input message="tns:doGetCountriesIn"/>
      <output message="tns:doGetCountriesOut"/>
    </operation>
    <operation name="doGetMyPaymentsInfo">
      <input message="tns:doGetMyPaymentsInfoIn"/>
      <output message="tns:doGetMyPaymentsInfoOut"/>
    </operation>
    <operation name="doGetStatesInfo">
      <input message="tns:doGetStatesInfoIn"/>
      <output message="tns:doGetStatesInfoOut"/>
    </operation>
    <operation name="doGetSystemTime">
      <input message="tns:doGetSystemTimeIn"/>
      <output message="tns:doGetSystemTimeOut"/>
    </operation>
    <operation name="doLogin">
      <input message="tns:doLoginIn"/>
      <output message="tns:doLoginOut"/>
    </operation>
    <operation name="doLoginEnc">
      <input message="tns:doLoginEncIn"/>
      <output message="tns:doLoginEncOut"/>
    </operation>
    <operation name="doLoginWithAccessToken">
      <input message="tns:doLoginWithAccessTokenIn"/>
      <output message="tns:doLoginWithAccessTokenOut"/>
    </operation>
    <operation name="doQueryAllSysStatus">
      <input message="tns:doQueryAllSysStatusIn"/>
      <output message="tns:doQueryAllSysStatusOut"/>
    </operation>
    <operation name="doQuerySysStatus">
      <input message="tns:doQuerySysStatusIn"/>
      <output message="tns:doQuerySysStatusOut"/>
    </operation>
    <operation name="doRequestPayout">
      <input message="tns:doRequestPayoutIn"/>
      <output message="tns:doRequestPayoutOut"/>
    </operation>
  </portType>
  <binding name="serviceBinding" type="tns:servicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="doGetCountries">
      <soap:operation soapAction="#doGetCountries"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetMyPaymentsInfo">
      <soap:operation soapAction="#doGetMyPaymentsInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetStatesInfo">
      <soap:operation soapAction="#doGetStatesInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doGetSystemTime">
      <soap:operation soapAction="#doGetSystemTime"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLogin">
      <soap:operation soapAction="#doLogin"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLoginEnc">
      <soap:operation soapAction="#doLoginEnc"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doLoginWithAccessToken">
      <soap:operation soapAction="#doLoginWithAccessToken"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doQueryAllSysStatus">
      <soap:operation soapAction="#doQueryAllSysStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doQuerySysStatus">
      <soap:operation soapAction="#doQuerySysStatus"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="doRequestPayout">
      <soap:operation soapAction="#doRequestPayout"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="serviceService">
    <port name="servicePort" binding="tns:serviceBinding">
      <soap:address location="https://webapi.allegro.pl/service.php"/>
    </port>
  </service>
  <message name="doGetCountriesIn">
    <part name="parameters" element="tns:DoGetCountriesRequest"/>
  </message>
  <message name="doGetCountriesOut">
    <part name="parameters" element="tns:doGetCountriesResponse"/>
  </message>
  <message name="doGetMyPaymentsInfoIn">
    <part name="parameters" element="tns:DoGetMyPaymentsInfoRequest"/>
  </message>
  <message name="doGetMyPaymentsInfoOut">
    <part name="parameters" element="tns:doGetMyPaymentsInfoResponse"/>
  </message>
  <message name="doGetStatesInfoIn">
    <part name="parameters" element="tns:DoGetStatesInfoRequest"/>
  </message>
  <message name="doGetStatesInfoOut">
    <part name="parameters" element="tns:doGetStatesInfoResponse"/>
  </message>
  <message name="doGetSystemTimeIn">
    <part name="parameters" element="tns:DoGetSystemTimeRequest"/>
  </message>
  <message name="doGetSystemTimeOut">
    <part name="parameters" element="tns:doGetSystemTimeResponse"/>
  </message>
  <message name="doLoginIn">
    <part name="parameters" element="tns:DoLoginRequest"/>
  </message>
  <message name="doLoginOut">
    <part name="parameters" element="tns:doLoginResponse"/>
  </message>
  <message name="doLoginEncIn">
    <part name="parameters" element="tns:DoLoginEncRequest"/>
  </message>
  <message name="doLoginEncOut">
    <part name="parameters" element="tns:doLoginEncResponse"/>
  </message>
  <message name="doLoginWithAccessTokenIn">
    <part name="parameters" element="tns:DoLoginWithAccessTokenRequest"/>
  </message>
  <message name="doLoginWithAccessTokenOut">
    <part name="parameters" element="tns:doLoginWithAccessTokenResponse"/>
  </message>
  <message name="doQueryAllSysStatusIn">
    <part name="parameters" element="tns:DoQueryAllSysStatusRequest"/>
  </message>
  <message name="doQueryAllSysStatusOut">
    <part name="parameters" element="tns:doQueryAllSysStatusResponse"/>
  </message>
  <message name="doQuerySysStatusIn">
    <part name="parameters" element="tns:DoQuerySysStatusRequest"/>
  </message>
  <message name="doQuerySysStatusOut">
    <part name="parameters" element="tns:doQuerySysStatusResponse"/>
  </message>
  <message name="doRequestPayoutIn">
    <part name="parameters" element="tns:DoRequestPayoutRequest"/>
  </message>
  <message name="doRequestPayoutOut">
    <part name="parameters" element="tns:doRequestPayoutResponse"/>
  </message>
</definitions>
